{% extends "base.html" %}

{% block additional_headers %}
  <link rel="stylesheet" href="{{ STATIC_URL }}css/reviews.css" type="text/css" media="screen"/>
{% endblock %}

{% block content %}

<div id="detail_area">
{% for stack_name, elaborations in reviewed_stack_elaborations.items %}
  <div class="stack_reviews">
    <h1>{{stack_name}}</h1>
    {% for elaboration in elaborations %}
    <a href="{% url 'Challenge:myreviews' course_short_title=course.short_title %}?id={{elaboration.challenge.id}}">{{elaboration.challenge.title}} </a><br>
    {% endfor %}
  </div>
{% endfor %}
</div>
{% endblock %}
